* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}



.section-title {
  text-transform: capitalize;
}


dd {
  text-indent: 10%;
}

li{
  position: relative;
  left: 100px;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  width: 60%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  position: relative;
  top: 60px;
}
.card:hover {
  border-color: #ff99ff;
}
.main-nav {
  color: white;
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 0;
}
